<div class="row venueindex">
 <div class="row venuenav">
    <div class="col-md-4 barnav">
      <h3>Bar/Clubs</h3>
    </div>
    <div class="col-md-4 restnav">
      <h3>Restaurants</h3>
    </div>
    <div class="col-md-4 actnav">
      <h3>Activities</h3>
    </div>
  </div>

<!-- bars and clubs -->

  <div class="row" id="bars">
    
    <div class="col-md-3" id="music">
      <h4>Music</h4>
    </div>
    <div class="col-md-3" id="dancing">
      <h4>Dancing</h4>
    </div>
    <div class="col-md-3" id="rooftop">
      <h4>Rooftop</h4>
    </div>
    <div class="col-md-3" id="relaxed">
      <h4>Relaxed</h4>
    </div>
  </div>

<!-- restaurants -->

  <div class="row" id="restaurants">
    <div class="col-md-3" id="suit">
      <h4>Suit & Tie</h4>
    </div>
    <div class="col-md-3" id="classy">
      <h4>Classy & Casual</h4>
    </div>
    <div class="col-md-3" id="retro">
      <h4>Retro & Hipster</h4>
    </div>
    <div class="col-md-3" id="quick">
      <h4>Quick Bite</h4>
    </div>
  </div>

<!-- activities -->

<div class="row" id="activities">
    <div class="col-md-3" id="athletic">
      <h4>Athletic</h4>
    </div>
    <div class="col-md-3" id="relaxed">
      <h4>Relaxed fun</h4>
    </div>
    <div class="col-md-3" id="day">
      <h4>Day trip</h4>
    </div>
    <div class="col-md-3" id="free">
      <h4>Free</h4>
    </div>
  </div>

  <div class="row newvenue">
    <%= link_to 'New Venue', new_venue_path %>
  </div>
  <div class="row">
  </div>
</div>