#home {
	#weekly {
		text-align: center;
		// background-color: rgba(5,22,62, 1);
		h2 {
			margin: 10px auto;
			color: rgba(202,202,202,1);
			text-shadow: 1px 1px black;
		}
		.sponsors {
			padding: 10px 0;
			display: inline-block;
			margin: 2%;
			width: 45%;
background-image: url('wood2.jpg');
		background-size: cover;
		background-position: 20% 0%;			.img {
			 height: 200px;
			 width: 200px;
			 margin: 0 auto;
			 background-position: center;
			 background-size: cover;
			}
			h5 {
				margin: 0 auto;
				width: 90%;
			}
			.padding {
				padding: 0;
				margin: 10px;
				display: inline-block;
			}
			.venuerating{
				text-align: center;
				.ratetitle {
					width: 100px;
					margin: 0 0;
					height: 29.47px;
					padding-top: 7px;
					display: inline-block;
				}
			}
		}
	}
}