* {
	margin: 0;
	padding: 0;
}
h2  {
	font-family: 'Oleo Script', cursive;
}
h3, h4, h5, h6, p, a, li, th, td, button, .row, input, textarea {
	font-family: 'Merienda One', cursive;
}
a {
	color: black;
	text-decoration-line: none;
	text-decoration-color: none;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
  margin: 0;
  padding-bottom: 100px;
  min-height: 100%;
	position: relative;
	background-color: rgba(255,212,158,.13);
}
.page {
	height: 100%;
}
header {
	background-image: url('header8.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	nav {
		height: 40px;
		margin-bottom: 20px;
		#links {
			height: 40px;
			text-align: right;
			a, img {
				height: 30px;
				display: inline-block;
			}
			a {
				margin: 0 10px;
			}
			#otherlinks {
				position: absolute;
				top: 20px;
				right: 140px;
				height: 30px;
			}
			#imglinks {
				position: absolute;
				top: 15px;
				right: 30px;
				height: 40px;
			}
			h4, #signout, #signin, #signup {
				margin-top: -10px;
			}
		}
	}
	.heading {
		text-align: center;
		padding-bottom: 20px;
		a {
			font-family: 'Oleo Script', cursive;
			text-shadow: 1px 1px rgba(255,255,255,.9);
			font-size: 50px;
			width: 250px;
			margin: 20px auto 40px auto;
		}
	}
	.container-fluid {
		padding: 0;
	}
	.index {
		margin: 50px;
		text-align: center;
		display: block;
		h2 {
			width: 100%;
			color: rgba(210,210,210,1);
			text-shadow: 2px 2px black;
			margin: 20px auto;
			display: inline-block;
			font-size: 30px;
		}
		.bars, .restaurants, .activities {
			height: 100%;
			text-align: center;
			width: 200px;
			height: 200px;
			overflow: break-word;
			padding: 10px;
			h5 {
				color: white;
				height: 80px;
				width: 200px;
				margin: 0 auto;
				text-shadow: 1.5px 1.5px black;
			}
			a, h2 {
				margin: 0 auto;
				width: 200px;
				height: 30px;
				text-align: center;
				cursor: pointer;
				&:hover {
					font-size:31px;
				}
			}
		}
	}
}
.notice, .alert {
	color: rgba(152,0,0,.8);
	margin-left: 20%;
}
footer {
	// display: block;
	width: 100%;
	height: 100px;
	padding: 20px;
	background-color: white;
	padding-bottom: 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	h5, #signout, #signup, #signin {
		font-size: 12px;
		display: block;
		margin: 5px;
	}
}
#sibox, #subox{
	width: 60%;
	height: 60%;
	overflow: scroll;
	background-color: rgba(0,0,0,0.9);
	border: 2px solid grey;
	padding: 30px 50px;
	position: fixed;
	top: 15%;
	left: 25%;
	text-align: center;
	z-index: 2;
	color: white;
	display: none;
	label, input {
		margin: 8px auto;
	}
	h3 {
		margin-bottom: 20px;
	}
	#close, #close2{
		right: 15px;
		top: 10px;
		font-family: 'Permanent Marker';
		position: absolute;
		cursor: pointer;
	}
}