// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.createvenue {
	width: 600px;
	height: 300px;
	background-color: rgba(0,0,0,0.8);
	border: 2px solid grey;
	padding: 30px 50px;
	position: fixed;
	top: 25%;
	left: 25%;
	text-align: center;
	z-index: 2;
	color: white;
	display: none;
	#close {
		right: 15px;
		top: 10px;
		font-family: 'Permanent Marker';
		position: absolute;
		cursor: pointer;
	}
}