// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.venuebox {
	margin: 50px;
	margin-right: 20px;
	padding: 20px;
	background-color: rgba(239,215,144,.5);
	font-size: 15px;
	height: 600px;
	.ratetitle {
			font-size: 15px;
			display: inline;
			width: 100px;
			margin-left: 10%;
		}
	.row {
		margin-top: 20px;
		button {
			padding: 10px;
			background-color: rgba(255,219,113,.5);
			border-width: 2px;
   		border-style: outset;
   		border-color: rgba(255,219,113,.5);
   		border-image: initial;
			margin: 0 auto;
			width: 250px;
			cursor: pointer;
		}
	}
	.button {
		text-align: center;
	}
}