// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#venues {
	display: block;
	width: 100%;
	text-align: center;
}
.smallmap {
	font-size: 8px;
	.smallmapimage {
		max-height: 50px;
		max-width: 50px;
	}
}
.map {
	width: 100%;
	display: none;
	.venuebox {
		margin: 50px;
		margin-right: 20px;
		padding: 20px;
		background-image: url('wood2.jpg');
		background-size: cover;
		background-position: 20% 0%;
		font-size: 15px;
		height: 600px;
		.info {
			padding: 20px;
			background-color: rgba(255,255,255,.4);
			text-align: center;
			strong {
				margin: 0 auto;
			}
			.center {
				margin: 0 auto;
				font-size: 12px;
			}
			.ratetitle {
				font-size: 15px;
				display: inline;
				width: 100px;
				margin-left: 10%;
			}
			h2 {
				font-size: 50px;
				margin: 0 auto;
				color: rgba(0,0,0,.7);
			}
			.row {
				margin-top: 20px;
				button {
					padding: 10px;
					background-color: rgba(255,219,113,.5);
					border-width: 2px;
		   		border-style: outset;
		   		border-color: rgba(255,219,113,.5);
		   		border-image: initial;
					margin: 0 auto;
					width: 250px;
					cursor: pointer;
				}
			}
			.button {
				text-align: center;
			}
		}
	}
}
.changeview {
	width: 100%;
	padding: 0;
	margin: 0;
	.padding {
		padding: 0;
	}
	.link {
			width: 200px;
			text-align: center;
			margin: 10px auto;
			padding: 5px;
			background-color: rgba(250,230,200,.5);
			}
	#openmapview {
		display: block;
		cursor: pointer;
		&:hover {
			background-color: rgba(250,230,200,1);
		}
	}
	#openlistview {
		display: none;
		cursor: pointer;
		&:hover {
			background-color: rgba(250,230,200,1);
		}
	}
}
.venuerating{
	text-align: center;
	.ratetitle {
		width: 100px;
		margin: 0 0;
		height: 29.47px;
		padding-top: 7px;
		display: inline-block;
	}
}
.createvenue {
	width: 600px;
	height: 650px;
	background-color: rgba(0,0,0,0.9);
	border: 2px solid grey;
	padding: 15px 30px;
	position: fixed;
	top: 7%;
	left: 25%;
	text-align: center;
	z-index: 2;
	color: white;
	display: none;
	.checklist {
		label {
		font-size: 13px;
		}
		.row {
			margin-bottom: 8px;
		}
	}
	.border {
		border-left: 1px solid grey;
		border-right: 1px solid grey;
		border-size: 20px;
	}
	.row {
		margin-bottom: 10px;
		text-align: center;
		h4, h3{
			width: 100%;
			text-align: center;
			margin-top: 10px;
			margin-bottom: 10px;
		}
	}	
	label {
		margin: 0 5px 0 auto;
	}
	input, textarea{
		background-color: rgba(250,250,250,.6);
		margin: 0 auto 0 5px;
		padding: 2px;
		font-family: 'Merienda One', cursive;
	}
	.actions input{
		margin: 8px auto;
		width: 150px;
		padding: 5px;
		text-align: center;
	}
	#close3 {
		right: 15px;
		top: 10px;
		font-family: 'Merienda One', cursive;
		position: absolute;
		cursor: pointer;
	}
}
.showvenue {
	.editvenue{
		width: 600px;
		height: 650px;
		background-color: rgba(0,0,0,0.9);
		border: 2px solid grey;
		padding: 15px 30px;
		position: fixed;
		top: 7%;
		left: 25%;
		text-align: center;
		z-index: 2;
		color: white;
		display: none;
		.checklist {
			label {
			font-size: 12px;

			}
			.row {
				margin: 10px;
				font-size: 10px;
			}
		}
		.border {
			border-left: 1px solid grey;
			border-right: 1px solid grey;
			border-size: 20px;
		}
		.row {
			text-align: center;
			margin: 10px;
			h4, h3{
				width: 100%;
				text-align: center;
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}	
		label {
			margin: 0 5px 0 auto;
			font-size: 10px;
		}
		input, textarea{
			background-color: rgba(250,250,250,.6);
			margin: 0 auto 0 5px;
			padding: 2px;
			font-family: 'Merienda One', cursive;
			font-size: 10px;
		}
		.actions input{
			margin: 8px auto;
			width: 150px;
			padding: 5px;
			text-align: center;
			font-size: 10px;
		}
		#close4 {
			right: 15px;
			top: 5px;
			font-family: 'Merienda One', cursive;
			position: absolute;
			cursor: pointer;
		}
	}
	.showinfo {
		background-color: rgba(245,239,232,1);
		overflow-y: scroll;
	}
	.showforum {
		min-height: 95%;
		height: 400px;
		background-color: rgba(241,186,96,.2);
		.posts {
			height: 120px;
			width: 80%;
		}
		.row {
			margin: 1px auto;
			width: 95%;
		}
		p {
			min-height: 25px;
			height: 36px;
			overflow-y: scroll;
		}
		img {
			max-width: 95%;
			max-height: 95%;
			width: auto;
  		height: auto;
			size: relative;
		}
	}
		#map {
			margin: 20px auto;
			height: 95%;
			min-height: 400px;
			width: 90%;
			// margin: 0 auto;
		}
	img {
		width: 400px;
		margin: 50px;
	}
	h2 {
		margin: 50px;
	}
	p, h2 {
		margin: 0 auto;
	}
	.row {
		margin: 20px;
		text-align: center;
	}
	.venuerating{
			text-align: center;
			.ratetitle {
				width: 100px;
				margin: 0 0;
				height: 29.47px;
				padding-top: 7px;
				display: inline-block;
			}
		}
}
.venueindex {
	.eachvenue {
		height: 266px;
		width: 550px;
		padding: 8px;
		margin: 50px;
		display: inline-block;
		background-image: url('wood2.jpg');
		background-size: cover;
		background-position: 20% 0%;
		.info {
			background-color: rgba(255,255,255,.6);
		}
		.padding {
			padding: 0;
		}
		.image {
			height: 250px;
			width: 250px;
			background-size: cover;
			&:hover {
 				background-color: #fff;
 				opacity:.9;
 			}
		}
		.row {
			width: 100%;
			text-align: center;
			margin: 0;
			h3 {
				width: 300px;
				margin: 0 auto;
				text-align: center;
				margin: 15px;
				text-shadow: 1px 1px grey;
			}
			p {
				width: 300px;
				margin: 10px auto;
				text-align: center;
				font-size: 13px;	
			}
		}
		.venuerating{
			text-align: center;
			.ratetitle {
				width: 100px;
				margin: 0 0;
				height: 29.47px;
				padding-top: 7px;
				display: inline-block;
			}
		}
	}
	.venuenav {
		width: 100%;
		height: 50px;
		text-align: center;
		margin: 0;
		h3 {
			padding: 10px;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		.bigbutton {
			background-color: rgba(228,164,70,.8);
			margin: 0;
			padding: 0;
			&:hover {
			background-color: rgba(228,164,70,.6);
			}
			&.active {
			background-color: rgba(228,164,70,.6);
			}
		}
		.restnav {
			border-left: 1px solid white;
			border-right: 1px solid white;
		}
	}
	#bars, #restaurants, #activities {
		width: 100%;
		height: 50px;
		text-align: center;
		padding: 10px;
		margin: 0;
		h4{
			border-radius: 10px;
			cursor: pointer;
			height: 30px;
			padding: 5px;
			background-color: rgba(228,164,70,.8);
			box-shadow: 1px 1px black;
			overflow: hidden;
			&:hover {
			background-color: rgba(228,164,70,.6);
				// box-shadow: none;
			}
			&.active {
			background-color: rgba(228,164,70,.6);
				box-shadow: none;
			}
		}
	}
	#bars {
		display: flex;
	}
	#restaurants, #activities {
		display: none;
	}
	.newvenue {
		width: 100%;
		height: 50px;
		text-align: center;
		padding: 10px;
		margin: 0;
		a {
			width: 200px;
			text-align: center;
			margin: 0 auto;
			border: 1px solid grey;
			background-color: rgba(228,164,70,.8);
		}
	}
}