// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.venueindex {
	.showcategory {
		width: 100%;
		left: 0;
		right: 0;
		background-color: rgba(200,200,200,.4);
		margin: 10px;
		padding: 10px;
		text-align: center;
	}
	#cat5, #cat6, #cat7, #cat8, #cat9, #cat10, #cat11, #cat12, #cat13, #cat14, #cat15 {
		display: none;
	}
	#cat4 {
		display: flex;
	}
	.eachvenue {
		display: inline-block;
		height: 300px;
		width: 300px;
		background-size: cover;
		margin: 50px;
		border-radius:  10px;
		border: 1px solid grey;
		.info {
			margin: 25% 30px;
			background-color: rgba(200,200,200,.8);
			.row {
				width: 100%;
				text-align: center;
				margin: 0;
				h3 {
					width: 300px;
					margin: 0 auto;
					text-align: center;
					margin: 15px;
					text-shadow: 1px 1px grey;
				}
				p {
					width: 300px;
					margin: 10px auto;
					text-align: center;
					font-size: 13px;
				}
			}
		}
  	&:hover {
  			background-color: #fff;
  			opacity:.8;
  	}
	}
	.venuenav {
		width: 100%;
		height: 50px;
		text-align: center;
		margin: 0;
		background-color: rgba(117,0,0,.92);
		h3 {
			padding: 10px;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}
		.bigbutton {
			background-color: rgba(138,20,20,1);
			margin: 0;
			padding: 0;
			&:hover {
				background-color: rgba(169,0,0,1);
			}
			&.active {
				background-color: rgba(169,0,0,1);
			}
		}
		.restnav {
			border-left: 1px solid white;
			border-right: 1px solid white;
		}
	}
	#bars, #restaurants, #activities {
		width: 100%;
		height: 50px;
		text-align: center;
		padding: 10px;
		margin: 0;
		background-color: rgba(0,0,0,.14);
		h4 {
			border-radius: 10px;
			cursor: pointer;
			height: 30px;
			padding-top: 5px;
			background-color: rgba(138,20,20,1);
			box-shadow: 1px 1px black;
			&:hover {
				background-color: rgba(169,0,0,1);
				box-shadow: none;
			}
			&.active {
				background-color: rgba(169,0,0,1);
				box-shadow: none;
			}
		}
	}
	#bars {
		display: flex;
	}
	#restaurants, #activities {
		display: none;
	}
	.newvenue {
		width: 100%;
		height: 50px;
		text-align: center;
		padding: 10px;
		margin: 0;
		a {
			width: 200px;
			text-align: center;
			margin: 0 auto;
			border: 1px solid grey;
			background-color: rgba(218,194,194,1);
		}
	}
}