<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<%= link_to root_path do %>
					<h5>Home</h5>
				<% end %>
				<%= link_to venues_path do %>
					<h5>All Venues</h5>
				<% end %>
				<%= link_to posts_path do %>
					<h5>Forum</h5>
				<% end %>
				<%= link_to '#' do %>
					<h5>Become a member</h5>
				<% end %>
			</div>
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<h5>© 2017 Date Night</h5>
			</div>
		</div>
	</div>
</footer>